  /* Container */
  .documents-container {
    max-width: 900px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  }
  
  /* Title */
  h2 {
    color: #e60a0a;
    text-align: center;
    font-weight: 600;
  }
  


  
  /* Table */
  .documents-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .documents-table th,
  .documents-table td {
    padding: 12px;
    text-align: center;
    border-bottom: 2px solid #fcdede;
  }
  
  .documents-table th {
    background: #c24c4c;
    color: #ffdada;
    font-weight: bold;
  }
  
  /* Table Row Hover */
  .documents-table tbody tr:hover {
    background: #fff5f5;
    transition: 0.3s;
  }
  

  
  /* Modal Styling */
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-card {
    background: #fff;
    padding: 20px;
    padding-right: 50px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
  }
  
  /* Inputs & Select */
  input,
  select {
    width: 100%;
    padding: 10px;
    border: 2px solid #c5aeae;
    border-radius: 10px;
    font-size: 14px;
    outline: none;
    transition: 0.3s ease-in-out;
    
  }
  
  input:focus,
  select:focus {
    border-color: #ff7575;
    box-shadow: 0 3px 10px rgba(255, 121, 151, 0.3);
  }
  
  /* Modal Buttons */
  .modal-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  

  